
@{
    ViewBag.Title = "Ingresos";
}

<h2>Ingresos</h2>

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-3">
                <i class="fa fa-usd fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
            </div>
        </div>
    </div>
</div>
<div class="container">

    <form class="well form-horizontal" action="/Financiero/Ingresos " method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>Ficha de gastos</legend>

            <!--Modalidad-->
            <div class="form-group">
                <label class="col-md-4 control-label">Modalidad</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <select id="Modalidad" name="Modalidad" class="form-control selectpicker">
                            <option value=" ">Por favor seleccione la modalidad</option>
                            <option>Virtual</option>
                            <option>Presencial</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Tipo de usuario-->
            <div class="form-group">
                <label class="col-md-4 control-label">Tipo de ususario</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
                        <select id="Tipo_de_usuario" name="Tipo_de_usuario" class="form-control selectpicker">
                            <option value=" ">Por favor seleccione el tipo de usuario</option>
                            <option>Adulto</option>
                            <option>Niño</option>
                        </select>
                    </div>
                </div>
            </div>

            <!--Cantidad de personas-->
            <div class="form-group">
                <label class="col-md-4 control-label">Numero de visitas</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-scale"></i></span>
                        <input id="Numero_de_visitas" required maxlength="100" name="Numero_de_visitas" placeholder="Numero de visitas" class="form-control" type="number">
                    </div>
                </div>
            </div>
     
            <!--fecha-->
            <div class="form-group">
                <label class="col-md-4 control-label">Fecha</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="Fecha" required maxlength="10" name="Fecha" type="text" class="form-control datepicker" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask>
                    </div>
                </div>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Gracias:::::::<i class="glyphicon glyphicon-thumbs-up"></i></div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Agregar<span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    $('.numero').keyup(function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        startDate: '-3d'
    });
</script>