@{
    ViewBag.Title = "Home Page";
}
<h1 class="page-header">Animalandia</h1>
<li>
       <div class="timeline-item">
        <div class="timeline-body" align="center">
            <img src="../../dist/img/Tigre.jpg" width="200" height="150" alt="User Image">
            <img src="../../dist/img/focas.jpg" width="200" height="150" alt="User Image">
            <img src="../../dist/img/pajaro.png" width="200" height="150" alt="User Image">
            <img src="../../dist/img/elefante.jpg" width="200" height="150" alt="User Image">
            <img src="../../dist/img/cotorra.jpg" width="200" height="150" alt="User Image">
           <!-- <img src="../../dist/img/aye.jpg" width="200" height="150" alt="User Image"> -->
        </div>
    </div>
</li>
<br>
<br>
    <div class="row">
        <div class="col-lg-12">
        </div>
      
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Vision
                </div>
                <div class="panel-body">
                    <p>Para el 2025 seremos una entidad certificada con estándares de calidad, soportados en el plan de colección de fauna, educación ambiental, bienestar animal y políticas de investigación y conservación con un plan maestro que direccionará nuestra transformación institucional. Seremos competitivos con altos niveles de efectividad y eficiencia, garantizados por un talento humano idóneo, capacitado, entrenado, que trabaja en equipo y en continua formación.</p>
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Mision
                </div>
                <div class="panel-body">
                    <p>Somos un parque zoológico urbano, comprometido con el respeto por la vida, aportamos a la conservación de la biodiversidad a través de  programas de investigación y educación ambiental con alcance local, regional, nacional e internacional.</p>
                </div>
                <div class="panel-footer">
                   
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    Certificaciones
                </div>
                <div class="panel-body">
                    <p>“Animalandia por dos periodos 2011 y 2014, ha sido certificado por ISO 9001:2008, sello que garantiza la calidad de nuestros servicios educativos, investigativos y de conservación, que realiza la Organización como parte de su labor en pro dela protección de la  Biodiversidad Colombiana.” </p>
                </div>
                <div class="panel-footer">
           
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


